@using PagedList.Mvc;
@model PagedList.IPagedList<Model.DTO_Model.DTO_Product_Item_Type>
@using Model.DTO_Model;
<!--
author: W3layouts
author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        HShop_
        Ecommerce
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <style>
        .menuli {
            color: #f1f1f1;
            display: inline-block;
            width: 120px;
            height: 40px;
            line-height: 40px;
            margin-left: -5px;
        }
    </style>

    <!-- css files -->
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="~/css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="~/css/owl-carousel.css" rel='stylesheet' type='text/css' /><!-- owl carousel css - main slider -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link href="~/css/style_SP.css rel= 'stylesheet' type='text/css' " />
    <link href="~/css/style_SP.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">
    <!-- //css files -->
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <!-- //google fonts -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
</head>

<body>

    <!-- header -->
    <header>
        <div class="container">
            <div class="header d-lg-flex">

                <div class="header-agile d-flex">
                    <h1 class="mr-lg-0 mr-4">
                        <a class="navbar-brand logo" href="~/Home/Index">
                            <span class="fa fa-stumbleupon" aria-hidden="true"></span>
                        </a>
                    </h1>

                </div>
                <div class="nav_w3ls mt-3">
                    <nav>
                        <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"> </span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">
                            @*<li class="mr-lg-3 mr-2 active"><a href="~/Home/Index">Trang Chủ</a></li>*@
                            <li class="mr-lg-3 mr-2"><a href="~/Home/Index">Giới thiệu </a></li>
                            <li class="mr-lg-3 mr-2 p-0">


                                <a href="#">Sản phẩm <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <input type="checkbox" id="drop-2" />
                                <ul class="inner-dropdown  ">
                                    <li><a href=" ~/Product/TypeProduct">Tất cả theo phân loại</a></li>
                                    <li><a href=" ~/Product/Index">Tất cả sản phẩm</a></li>
                                    <li><a href=" ~/Product/Index_">Sản phẩm đang giảm giá</a></li>
                                    @*<li><a href="@Url.Action("Index2", "Product", new { id = 8 })"> Thời trang nam</a></li>

                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 9 })"> Thời trang nữ</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 3 })">Máy tính và Laptop</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 2 })">Máy ảnh và máy quay phim</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 1 })">Đồng hồ</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 7 })">Thiết bị gia dụng</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 6 })">Thể thao và du lịch</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 4 })"> Mẹ và bé</a></li>
                                    <li><a href=" @Url.Action("Index2", "Product", new { id = 5 })">Sức khỏe và sắc đẹp</a></li>*@
                                    @Html.Action("ListTypeProduct", "Home")


                                </ul>
                            </li>

                            <li class="mr-lg-3 mr-2"><a href="#gallery">Bộ sưu tập</a></li>
                            <li class="mr-lg-3 mr-2"><a href="#contact">Kết nối vs chúng tôi</a></li>




                        </ul>
                    </nav>
                </div>
                <div class="social mt-3 ml-auto">
                    <!--<ul class="menu">-->
                    <!--</ul>-->
                    <nav>

                        <ul class="menu">






                            <li><a href="~/Cart/Index">Giỏ hàng <span style="color:red" id="total-product" class="fa fa-shopping-cart" aria-hidden="true">  @Html.Action("BagCart", "Product")/</span></a></li>

                            <li class="mr-3 icons">
                                <a href="~/Cart/YeuThich">
                                    Yêu thích
                                    <i class="fa fa-heart"></i>
                                </a>
                                <span style="color:red" id="sttbuy">@Html.Action("BagCart_", "Product")</span>

                            </li>




                        </ul>

                    </nav>



                </div>
                <div class="social mt-3 ml-auto">
                    <!--<ul class="menu">-->
                    <!--</ul>-->
                    <nav>
                        <label for="drop" class="toggle mt-lg-0 mt-1"><span class="fa fa-bars" aria-hidden="true"> </span></label>
                        <input type="checkbox" id="drop" />
                        <ul class="menu">



                            <li  class="mr-lg-3 mr-2 p-0" id="huy">
                                <a href="#">Tài Khoản <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                <ul style="background: rgba(76, 175, 80, 0.3)" class="inner-dropdown">

                                    <li>
                                        <a style="background-color:red" href="~/Customer/Login" class="btn btn-google btn-user btn-block"><i class="fa fa-share-square" aria-hidden="true"></i>  Đăng nhập</a>
                                        <a style="background-color:dodgerblue" href="~/Customer/LoginFacebook" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i>Login facebook
                                        </a>
                                    </li>




                                    <li>
                                        <a style="background-color:forestgreen" href="~/Customer/Signup" class="btn btn-success btn-user btn-block"><i class="fa fa-ruble-sign" aria-hidden="true"></i>Đăng ký</a>

                                    </li>

                                </ul>


                            </li>
                            <li  class="mr-lg-3 mr-2 p-0">
                                @if (Request.Cookies["firstname"] != null)
                                {
                                    <script>


                                        document.getElementById("huy").style.display = 'none';





                                    </script>
                                    <p class="fa fa-angle-down" style="color:cadetblue">
                                        Xin chào: @Request.Cookies["firstname"].Value
                                    </p>
                                }
                            <ul  style="background: rgba(76, 175, 80, 0.5)" class="inner-dropdown  ">
                                <li><a class="btn btn-facebook btn-user btn-block" style="background-color:dodgerblue" href="~/Customer/ProfileUser">Trang cá nhân</a></li>

                                <li><a class="btn btn-success btn-user btn-block" style="background-color:forestgreen" href="#">Cài đặt</a></li>
                                <li>

                                    <a class="btn btn-google btn-user btn-block " style="background-color:red" href="@Url.Action("Logout","Customer")"> Thoát </a>
                                </li>
                            </ul>
                            </li>




                        </ul>

                    </nav>



                </div>


            </div>

        </div>

    </header>
    <section class="main-slider" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div style="height:500px" class="item">

                <div class="banner-view">
                    <div style="height:500px" class="container banner-info ">

                        <h5><span class="fa fa-stumbleupon" aria-hidden="true"></span> Xu hướng mua sắm </h5>
                        <h2 class="movetxt agile-title text-capitalize">Sản Phẩm đang Hot </h2>
                        @*<h2 class="movetxt mb-3 agile-title text-capitalize">Hoặc chưa biể</h2>*@
                        @*<a href="#gallery" class="btn">Xem thêm về sản phẩm </a>*@
                        <a href="~/Product/Index">Xem thêm sản phầm</a>
                    </div>
                </div>

            </div>
            <div style="height:500px" class="item">

                <div style="height:500px" class="banner-view banner-top1">
                    <div style="height:500px" class="container banner-info">
                        <h5><span class="fa fa-stumbleupon" aria-hidden="true"></span>Xu hướng mua sắm</h5>
                        <h4 class="movetxt agile-title text-capitalize">Sản Phẩm đang Hot</h4>
                        @*<h4 class="movetxt mb-3 agile-title text-capitalize">Ngành thời trang</h4>*@
                        <a href="~/Product/Index"> Xem thêm  sản phẩm </a>
                    </div>
                </div>
            </div>
            <div style="height:500px" class="item">

                <div style="height:500px" class="banner-view banner-top2">
                    <div style="height:500px" class="container banner-info">
                        <h5><span class="fa fa-stumbleupon" aria-hidden="true"></span>Xu hướng mua sắm</h5>
                        <h4 class="movetxt agile-title text-capitalize">Sản Phẩm đang Hot</h4>
                        @*<h4 class="movetxt mb-3 agile-title text-capitalize">Ngành thời trang</h4>*@
                        <a href="~/Product/Index"> Xem thêm  sản phẩm </a>
                    </div>
                </div>
            </div>
        </div>



    </section>

 
  



    <!-- //header -->
    <!-- main-slider -->

    <div>
        @RenderBody()
    </div>
    <!-- /main-slider -->
    <!-- About -->
    <!-- //stats -->
    <!-- contact -->
  
    <section class="contact py-5" id="contact">
        <div class="container py-md-5">
            <div class="row">
                <div class="col-lg-4 contact-left">
                    <p>
                        Liên hệ chúng tôi
                    </p>
                    <h3 class="heading">Liên lạc</h3>
                    <p class="mt-3">
                        Nếu bạn có bất kỳ thắc mắc nào hoặc muốn nói chuyện với chúng tôi, vui lòng liên hệ với chúng tôi để biết thêm chi tiết theo bên dưới
                        thông tin đã cho.
                    </p>

                </div>
                <div class="col-lg-8 about-text">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15676.273867632177!2d106.71046386775461!3d10.80606817682145!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a16940b30b%3A0x1b25a34b7a3ab959!2zUGjGsOG7nW5nIDI1LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1606188970470!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

                </div>

                <div class="col-lg-8 mt-5">

                    @using (Html.BeginForm("saveFeedbacks", "Home", FormMethod.Post))
                    {
                        <div class="row main-w3layouts-sectns">
                            <div class="col-md-6 w3-btm-spc form-text1">
                                <input type="text" value="" placeholder="Nhập tên" name="Name">
                            </div>
                            <div class="col-md-6 w3-btm-spc form-text2">
                                <input type="text" placeholder="Nhập SDT" name="SDT">
                            </div>
                        </div>
                        <div class="row main-w3layouts-sectns">
                            <div class="col-md-6 w3-btm-spc form-text1">
                                <input type="text" value="" placeholder="Nhập Email" name="Email">
                            </div>
                            <div class="col-md-6 w3-btm-spc form-text2">
                                <input class="form-control" type="text" placeholder="Nhập tiêu đề" name="content">
                            </div>
                        </div>
                        <div class="main-w3layouts-sectns ">
                            <div class="w3-btm-spc form-text2 p-0">
                                <textarea name="details" placeholder="Nhập nội dung của bạn"></textarea>
                            </div>
                        </div>



                        <input class="btn" onclick="Add()" type="submit" value="Gửi">

                    }


                </div>
                <div class="col-lg-4 mt-5">
                    <div class="contact-info">
                        <div class="footer-style-w3ls">
                            <p>
                                <span class="fa fa-map-marker" aria-hidden="true"></span><strong> Vị trí</strong> :Công ty HShop_,
                                phường 25,Quận Bình Thạnh , Thành Phố Hồ Chí Minh.
                            </p>
                        </div>
                        <div class="footer-style-w3ls mt-2">
                            <p><span class="fa fa-phone" aria-hidden="true"></span><strong> Phone</strong> : 0853506715</p>
                        </div>
                        <div class="footer-style-w3ls mt-2">
                            <p><span class="fa fa-fax" aria-hidden="true"></span><strong> Fax</strong> : +84853506715</p>
                        </div>
                        <div class="footer-style-w3ls mt-2">
                            <p><span class="fa fa-fax" aria-hidden="true"></span><strong> Giám đốc</strong> : Mr:Nguyễn Tuấn Huy</p>
                        </div>
                        <div class="footer-style-w3ls mt-2">
                            <p>
                                <span class="fa fa-envelope" aria-hidden="true"></span><strong> Email</strong> : <a href="mailto:nguyentuanhuy301198@gmail.com">nguyentuanhuy301198@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    <!-- Newsletter -->
    <section class="subscribe-text py-5" id="subscribe">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="heading mb-3">Theo dõi bản tin</h3>
                    <p>
                        Bằng cách đăng ký vào danh sách gửi thư của chúng tôi, bạn sẽ luôn nhận được tin tức và cập nhật thông tin mới nhất từ ​​chúng tôi. Vui lòng làm
                        đăng ký!
                    </p>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <form action="#" method="post">
                        <input type="email" name="Email" placeholder="Enter your email..." required="">
                        <button class="btn1"><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                        <div class="clearfix"> </div>
                    </form>
                    <p class="mt-3">
                        Chúng tôi tôn trọng quyền riêng tư của bạn và sẽ không bao giờ chia sẻ địa chỉ email của bạn với bất kỳ người nào hoặc
                        cơ quan.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- //Newsletter -->
    <!-- footer -->
    <footer class="footerv4-w3ls py-sm-5 py-4" id="footer">
        <div class="footerv4-top">
            <div class="container">

                <!-- footer logo -->
                <div class="footer-logo text-center">
                    <a href="index.html"><span class="fa fa-stumbleupon" aria-hidden="true"></span> HShop_Ecommerce </a>
                </div>
                <!-- pay -->
                <div class="container-fluid">


                    <div class="row payment align-items-center">
                        <div class="col-md-6">
                            <div class="payment-method">

                                <img src="~/images/payment-method.png" alt="Payment Method" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="payment-security">

                                <img src="~/images/godaddy.svg" style="width:80px;height:100px" alt="Payment Security" />
                                <img src="~/images/norton.svg" style="width:80px;height:100px" alt="Payment Security" />
                                <img src="~/images/ssl.svg" style="width:80px;height:100px" alt="Payment Security" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end pay -->
                <!-- //footer logo -->
                <!-- footer nav links -->
                <div class="d-flex align-items-center footer-nav-wthree justify-content-center my-3">
                    <ul class="footer-link">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="#services">Hệ thống</a>
                        </li>
                        <li>
                            <a href="#gallery">Bộ sưu tập</a>
                        </li>
                        <li>
                            <a href="#facts">Kết nối doanh nghiệp</a>
                        </li>
                    </ul>
                </div>

                <!-- //footer nav links -->
                <!-- move top icon -->
                <div class="text-center">
                    <a href="#home" class="move-top text-center">
                        <span class="fa fa-angle-double-up"
                              aria-hidden="true"></span>
                    </a>
                </div>
                <!-- //move top icon -->
                <!-- copyright -->
                <div class="copy-right text-center">
                    <p>
                        @DateTime.Now   HShop_Ecommerce | Design by Nguyễn Tuấn Huy
                        <a href="mailto:nguyentuanhuy301198@gmail.com" style="font-style:unset"> send mail for NguyenTuanHuy</a>
                    </p>
                    <br />

                </div>
                <div id="btnlogin" @*style="display:none"*@ class="copy-right text-center">

                    <a href="~/Admin/Account/Login">
                        <p style="font-style:italic oblique">Vào Trang ADMIN</p>
                    </a>
                </div>
                @*@if (Request.Cookies["firstname"] != null)
                    {
                        <script>


                            document.getElementById("btnlogin").style.display = 'block';





                        </script>

                    }*@
                <!-- //copyright -->


            </div>
        </div>
    </footer>
    <!-- //footer -->
    <!-- main slider -->
    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/jquery-3.4.1.js")
    @RenderSection("scripts", required: false)

    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/JavaScript.js"></script>
    @RenderSection("Upload", required: false)
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                dots: true,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })

        function Add() {
            Swal.fire({
                position: 'top',
                icon: 'success',
                title: 'Cảm ơn bạn đã góp ý cho chúng tôi',
                showConfirmButton: false,
                timer: 300000
            })



        }
    </script>
    <!-- /main slider -->

</body>

</html>