
@model IEnumerable<Model.DTO_Model.DTOCheckoutCustomerOrder>

@{
    ViewBag.Title = "ListCheckOut";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo1"
   aria-expanded="true" aria-controls="collapseTwo">
    <i class="fas fa-fw fa-cog"></i>
    <span>Tùy chọn xem</span>
</a>
<div id="collapseTwo1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
    <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Xem danh sách theo:</h6>
        <a class="collapse-item" href="~/Admin/Checkout_Customer/Index">Danh sách khách đặt hàng</a><br />
        <a class="collapse-item" href="~/Admin/Checkout_Order/Index">Chi tiết đặt hàng</a>
    </div>
</div>

<div class="container">




   



</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary" style="text-align:center">Danh sách Khách đặt hàng</h6>
    </div>
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn xác nhận xóa không?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bấm Xóa để xác nhận Xóa, Đóng để hủy
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <a class="btn btn-primary" @*href=" @Url.Action("Delete", "Checkout_Customer", new { id =})*@ onclick="xoaSanPham()">Xóa</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Thành Phố</th>
                        <th>Mã CODE</th>
                        <th>Giảm giá</th>
                        <th>Tổng tiền sau giảm</th>
                        <th>Sản phẩm đã đặt hàng</th> 
                        <th>Trạng thái</th>
                        @*<th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá sản phẩm</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng thái</th>*@
                        <th>Lựa chọn</th>


                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Mã khách hàng</th>
                        <th>Họ</th>
                        <th>Tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Thành Phố</th>
                        <th>Mã CODE</th>
                        <th>Giảm giá</th>
                        <th>Tổng tiền sau giảm</th>
                        <th>Sản phẩm đã đặt hàng</th>
                        <th>Trạng Thái</th>
                        @*<th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá sản phẩm</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng thái</th>*@
                        <th>Lựa chọn</th>
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item._id)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaChi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.City)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Zipcode)
                            </td>
                            <td>
                                @string.Format("{0:0,0}", item.GiamGia) 
                            </td>
                            <td>
                                @string.Format("{0:0,0}", item.TongTien) VNĐ
                            </td>
                             <td>
                                @item.ProductOrder.Count() Cái
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>
                           
                           
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pr)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuong)
                            </td>
                            <td>
                                @string.Format("{0:0,0}", item.Gia) VNĐ
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayTao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>*@


                            <td>
                                <a class="btn btn-success " href=" @Url.Action("Edit", "Checkout_Customer", new { id = item._id })">Chỉnh sửa</a><br />
                                <a class="btn btn-primary " href=" @Url.Action("Details", "Checkout_Customer", new { id = item._id })">Xem sản phẩm của khách</a><br />
                                <button type="button" class="btn btn-danger" data-toggle="modal" onclick="target('@item._id')" data-target="#del">
                                    Xóa
                                </button>

                                <div>
                                    <p style="color:red"> @ViewBag.Mess</p>

                                </div>



                            </td>

                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    var del;
    function target(id) {
        del = id;
    }
    function xoaSanPham() {
        $.ajax({
            url: '/Checkout_Customer/Delete',
            data: { id: del },
            dataType: 'json',
            type: 'POST',
            success: function (res) {
                if (res.mes)
                    location.reload();
                else
                    alert("Không thể xóa vì khách hàng còn đơn đặt hàng");
            }
        });
    }
</script>
