@model Model.DTO.DTO_Ad.DTO_Account
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@{ 
    var stt = Model.RoleId;
    string quyen;
    if (stt == 1)
    {
        quyen = "Admin";
    }
    else
    {
        quyen = "User";
    }
}

<h2 style="color:aquamarine">Details</h2>

<div>
    <h4>Tài Khoản Admin</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Role.RoleName)
        </dt>*@

        @*<dd>
            <input type="text" />
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt>
           Quyền
        </dt>

        <dd>
            @quyen
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.idUser }) |
    @Html.ActionLink("Trở về", "Index")
</p>
